/*Box of Blog*/
.head {
  display: flex;
  justify-items: flex-start;
  justify-content: space-between;
}
.icon {
  display: flex;
}

/*How to build gild*/
.boxofBlog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.blog {
  color: rgb(126, 136, 136);
}

.viwe {
  color: rgb(183, 28, 28);
}
/*card*/
.card {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  background-color: rgb(239, 237, 238);
}

/*content*/
.pic {
  margin-left: 20px;
  width: 100px;
}
.nameBox {
  display: flex;
  justify-items: auto;
  align-items: center;
  gap: 30px;
}

.name {
  color: rgb(183, 28, 28);
}

.date {
  color: rgb(126, 136, 136);
  font-size: small;
}

/*bodycontent*/
h3 {
  color: black;
}
h1 {
  color: black;
}
.p {
  color: rgb(151, 150, 150);
}

.boxofhashtag {
  display: flex;
  color: rgb(127, 127, 127);
}
.hashtag {
  background-color: rgb(255, 255, 255);
  border-style: ridge;
  border-color: rgb(151, 150, 150);
  border-width: 1px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  box-sizing: border-box;
}
