.head {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.logo {
  margin-left: 20px;
  width: 100px;
}

.link {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.login {
  margin-right: 20px;
}

button {
  font-weight: 200;
  font-size: 16px;
  border: 0px;
  padding: 5px 5px;
  cursor: pointer;
  background: transparent;
  position: relative;
  margin-right: 20px;
  transition: all 0.25s ease;
}
