.head {
  align-items: center;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 20px;
  margin: 0;
  box-shadow: 0 0 10px rgb(62, 61, 61);
}

.login {
  background-color: blueviolet;
}
